---
import PageLayout from '@/layouts/BaseLayout.astro'
import ToolSection from '@/components/ToolSection.astro'
import Button from '@/components/Button.astro'
const WEBSITES = {
	TRAVEL: [
		{
			name: 'TripMaker Studio',
			description: 'Personal AI friend for your next trip planning.',
			href: 'https://www.tripmaker.studio/',
			iconPath: 'tms',
			iconBgColour: '#2463eb'
		}
	],
	PARENTING: [
		{
			name: 'PAI.CARE',
			description: 'Personal AI Friend for Mindful Parenting.',
			href: 'https://pai.care/',
			iconPath: 'paicare',
			iconBgColour: '#000000'
		}
	],
	HOME: [
		{
			name: 'PropAIty.com',
			description: 'Personal AI Friend for Home Buying.',
			href: 'https://propaity.com/',
			iconPath: 'propaity',
			iconBgColour: '#414350'
		}
	],
	TECHNOLOGY: [
		{
			name: 'LinkedGrow.in',
			description: 'AI-powered sidekick tool for LinkedIn Growth.',
			href: 'https://linkedgrow.in/',
			iconPath: 'linkedgrow',
			iconBgColour: '#9c27b0'
		},
		{
			name: 'DomainAI',
			description: 'AI-powered domain manager.',
			href: 'https://domainai.app/',
			iconPath: 'domainai',
			iconBgColour: '#9c27b0'
		},
		{
			name: 'Govn.ai',
			description: 'AI solutions for governance and public services.',
			href: 'https://govn.ai/',
			iconPath: 'govnai',
			iconBgColour: '#3f51b5'
		}
	],
	EDUCATION: [
		{
			name: 'TinkerLabs Club',
			description: 'Innovative learning and experimentation platform.',
			href: 'https://tinkerlabs.club/',
			iconPath: 'tinkerlabs',
			iconBgColour: '#ff9800'
		},
		{
			name: 'TinkerLabs LLC',
			description: 'Creative solutions for educational projects.',
			href: 'https://tinkerlabs.llc/',
			iconPath: 'tinkerlabs-llc',
			iconBgColour: '#ff9800'
		}
	],
	COLLABORATION: [
		{
			name: 'CollabWrite',
			description: 'Growth Collaboration Platform.',
			href: 'https://collabwrite.com/',
			iconPath: 'collabwrite',
			iconBgColour: '#2196f3'
		},
		{
			name: 'Working Studio',
			description: 'A platform for creative collaboration and workspace.',
			href: 'https://workingstudio.me/',
			iconPath: 'workingstudio',
			iconBgColour: '#673ab7'
		}
	],
	FINANCE: [
		{
			name: 'WealthTaxed',
			description: 'Financial planning and tax solutions.',
			href: 'https://wealthtaxed.com/',
			iconPath: 'wealthtaxed',
			iconBgColour: '#f44336'
		}
	],
	MISCELLANEOUS: [
		{
			name: 'PlanAI Club',
			description: 'AI-driven day planning tool for ultra productivity.',
			href: 'https://planai.club/',
			iconPath: 'planai',
			iconBgColour: '#9c27b0'
		},
		{
			name: 'SubPay',
			description: 'Subscription payment management platform.',
			href: 'https://subpay.id/',
			iconPath: 'subpay',
			iconBgColour: '#4caf50'
		},
		{
			name: 'Namma Club',
			description: 'Community platform for local engagement.',
			href: 'https://namma.club/',
			iconPath: 'nammaclub',
			iconBgColour: '#ffeb3b'
		},
		{
			name: 'WarmUp Cam',
			description: 'Camera app for warm-up exercises and activities.',
			href: 'https://warmup.cam/',
			iconPath: 'warmup',
			iconBgColour: '#3f51b5'
		}
	]
}
---

<PageLayout meta={{ title: 'Home' }}>
	<div class='w-full'>
		<Button title='Back' href='/' style='button'>
			<svg
				xmlns='http://www.w3.org/2000/svg'
				width='14'
				height='14'
				viewBox='0 0 24 24'
				slot='icon-before'
			>
				<path
					fill='currentColor'
					d='m6.921 12.5l5.792 5.792L12 19l-7-7l7-7l.713.708L6.921 11.5H19v1z'
				>
				</path>
			</svg>
		</Button>

		<div class='mt-5 flex w-full flex-col gap-y-10'>
			<div>
				<h1 class='mb-1 text-2xl font-bold'>Projects</h1>
				<p>Projects that I am involved to make the world a better place :)</p>
			</div>
			<ToolSection title='Travel' tools={WEBSITES.TRAVEL} />
			<ToolSection title='Parenting' tools={WEBSITES.PARENTING} />
			<ToolSection title='Home' tools={WEBSITES.HOME} />
			<ToolSection title='Technology' tools={WEBSITES.TECHNOLOGY} />
			<ToolSection title='Education' tools={WEBSITES.EDUCATION} />
			<ToolSection title='Collaboration' tools={WEBSITES.COLLABORATION} />
			<ToolSection title='Finance' tools={WEBSITES.FINANCE} />
			<ToolSection title='Miscellaneous' tools={WEBSITES.MISCELLANEOUS} />
		</div>
	</div>
</PageLayout>
